<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Novo Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="eventSubmit()">
    <ion-list>

      <ion-item>
        <ion-label fixed>E-mail</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Senha</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Confirmar</ion-label>
        <ion-input [(ngModel)]="user.confirm" name="confirm" type="password" value=""></ion-input>
      </ion-item>

    </ion-list>
    <button type="submit" ion-button secondary class="button-block">Criar conta</button>
  </form>
</ion-content>