<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ Job.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-label>Total trabalhado</ion-label>
    <ion-label text-center>08:54</ion-label>
  </ion-row>
  <button (click)="eventClickBtnStartActivity($event)" ion-button secondary class="button-block">{{ labelBtnStart }}</button>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button>
  </ion-list>
</ion-content>